# Cloudinary Configuration
# Salin file ini menjadi .env dan isi dengan nilai dari dashboard Cloudinary Anda
# https://cloudinary.com/console

VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=wtp_laporan
